@import "../../assets/styles/variables";


.choice{

    display: flex;
    align-items: center;
    flex:1;

    min-width: 320px;
    min-height: 40vh;

    border:1px solid rgba(0,0,0,0.1);  
    background-color:$primary-color;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    font-size: 1.3em;
    color:white;
    text-transform: capitalize;    
      
    transition: all 0.5s;
    cursor: pointer;    


    @media (min-width: 880px) {
        height:80vh;
    }
}

.choice:hover{
    background-color:$secondary-color;
}

.choice p{
    margin:0;
    padding:50px;
    box-sizing: border-box;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}