@import "../assets/styles/variables";

.end-screen{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    @media (max-width: 700px) {
        align-items: baseline;
    }
}

.end-screen > *{
    flex:1;

    @media (max-width: 700px) {
        min-width:100%;
    }
}

.gg{
    background-color: $primary-color;
    height:100%;
    color:white;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;     
    padding-bottom:4em;
    box-sizing: border-box;
    @media (max-width: 700px) {
        height:50%;
    }
}

.gg p{
    padding:0;
    margin:5px;
}

.gg button{
    border-color:white;
    color:white;
    width:200px;
    margin-top:20px;
}


.review-wrapper{
    align-self: baseline;
    @media (max-width: 700px) {
        height:50%;
    }
}