@import "../assets/styles/variables";


.splash-screen{
    margin:0;
    padding:0 0 0 0;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;  
    
    background-color: $primary-color;
    color:white;
}

.splash-screen-content{
    text-align: center;
    padding-bottom: 5em;
}

.info{
    font-family: "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    text-align: left;
    max-width: 318px;
}

.info p{
    margin-left:1em;
}

.info a{
    color:white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}

.info li{
    margin-top:1em;
}